@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --blue: #0096ff;
  --dark: #3d3838;
  --grayMd: #a9a7a7;
  --grayLt: #e7e7e7;
}

#contact {
  scroll-margin-top: 125px !important;
}

/* ---------------------------------------------------------------- */
/* NavigationFix */
#services,
#portfolio {
  scroll-margin-top: 125px;
}

/* ---------------------------------------------------------------- */
/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--grayLt);
}

/* ---------------------------------------------------------------- */
/* Preload: */
.preloadContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--blue);
}

.preloadContainer .svg {
  position: absolute;
  scale: 150%;
  color: white;
}

.preloadContainer .loading {
  outline: 2px solid white;
  background-color: white;
  margin-top: 150px;
  max-width: 160px;
  width: 100%;
  height: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.preloadContainer .loading .loader {
  position: absolute;
  width: 160px;
  height: 3px;
  left: 0;
  background-color: var(--grayMd);
  animation: progress 0.85s ease-in-out forwards;
  border-radius: 20px;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

/* ---------------------------------------------------------------- */

svg {
  width: 100%;
}

image {
  width: 100%;
}
