*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

:focus {
  outline: none;
  border: 2px solid var(--blue);
}

:root {
  --blue: #0096FF;
  --dark: #3D3838;
  --grayMd: #A9A7A7;
  --grayLt: #E7E7E7;
  
}

/* ---------------------------------------------------------------- */
/* NavigationFix */
#home{
  scroll-margin-top: 125px !important;
}
#services, 
#portfolio {
  scroll-margin-top: 25px !important;
}

/* #contact {
  scroll-margin-top:  !important;
} */
/* ---------------------------------------------------------------- */
/* ScrollBar */
::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--grayLt);

}

/* ---------------------------------------------------------------- */
/* Preload: */
.preloadContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
}

.preloadContainer .svg{
  position: absolute;
  scale: 150%;
  color: white;
}

.preloadContainer .loading{

  background-color: var(--grayLt);
  margin-top: 200px;
  max-width: 100px;
  width: 100%;
  height: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloadContainer .loading .loader{
  position: absolute;
  height:  2px;
  left: 0;
  background-color: var(--blue);
  animation: progress 0.85s ease-in-out forwards;
}

@keyframes progress {
  0%{
    width: 0;
    opacity: 1;
    
  }
  100%{
    width:100%;
    opacity: 1;
  }
}

/* ---------------------------------------------------------------- */

svg{
  width: 100%;
}

image{
  width: 100%;
}